* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* width: 100vw; */
}

#inp {
  width: 500px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  padding: 4%;
}

.todo {
  width: 500px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  padding: 4%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid grey;
  padding: 3.2%;
  background-color: #eeeef0;
}

form {
  width: 550px;
  height: auto;
}

.eachitem {
  border-bottom: 1px solid black;
  width: 94.4%;
  font-size: 25px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.vertical {
  position: absolute;
  left: 93%;
}